.advantages {
  margin-bottom: 30px;
  .accordion__text-wrapper {
    span {
      font-family: $ff-montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #6E7275;
      text-transform: none;
    }
  }

  .advantages__extra-text {
    text-align: center;
    color: #6E7275;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 3px;

    @include vp-1440 {
      width: 818px;
      margin: 35px auto;
    }

    &--first {
      margin: 5px auto 50px;
    }
  }

  .accordion {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @include vp-768 {
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
    }

    @include vp-1440 {
      gap: 50px 20px;
    }
  }

  .accordion__button {
    padding: 0 4px 10px;
    align-items: end;

    svg {
      margin-right: 10px;
      margin-bottom: 5px;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-top: 10px;
    }
  }

  .container {
    @include vp-1440 {
      padding-top: 45px;
    }
  }

  .service__list {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: 20px 16px;

    @include vp-768 {
      padding: 40px 0;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    @include vp-1440 {
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 18px;
      gap: 18px 50px;
      max-width: 1240px;
      margin: 0 auto;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid #dedede;
      cursor: pointer;

      svg {
        max-width: 32px;
        height: 32px;
        width: 100%;
        margin-top: 15px;
      }

      .service__title-wrapper {
        display: flex;
        gap: 16px;
        flex-wrap: nowrap;
        align-items: center;
      }

      h3 {
        text-transform: uppercase;
        hyphens: auto;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 3px;

        @include vp-1440 {
          margin-bottom: 10px;
        }
      }

      p {
        margin-left: 45px;
        margin-top: 8px;
      }
    }
  }
}

.advantages--supply {

  .container {
    @include vp-1440 {
      padding-top: 18px;
    }
  }

  .service__list {
    @include vp-768 {
      padding: 40px 20px;
      gap: 20px;
    }
    @include vp-1440 {
      padding: 20px 20px;
    }

    li {
      @include vp-768 {
        padding-top: 0;
      }
    }
  }
  .advantages__extra-text {
    margin-top: 5px;

    &:last-of-type {
      margin-top: 40px;
    }
  }
}
