.advantages {
  margin-bottom: 30px;
  .accordion__text-wrapper {
    span {
      font-family: $ff-montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #6E7275;
      text-transform: none;
    }
  }

  .advantages__extra-text {
    text-align: center;
    color: #6E7275;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 3px;

    @include vp-1440 {
      width: 818px;
      margin: 35px auto;
    }

    &--first {
      margin: 5px auto 50px;
    }
  }

  .accordion {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @include vp-768 {
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
    }

    @include vp-1440 {
      gap: 50px 20px;
    }
  }

  .accordion__button {
    padding: 0 4px 10px;
    align-items: end;

    svg {
      margin-right: 10px;
      margin-bottom: 5px;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-top: 10px;
    }
  }

  .container {
    @include vp-1440 {
      padding-top: 45px;
    }
  }
}
