.geography {
  .geography__extra-text {
    text-align: center;
    color: #6E7275;
    padding: 0 20px;
    margin: 48px auto 23px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    max-width: 818px;
  }

  .swiper-pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #dedede;
    opacity: 100%;
    width: 100%;
    max-width: 60px;
    height: 4px;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-twine;
  }

  .geography__list {
    width: 100%;
    height: 100%;

    @include vp-768 {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: 1fr 1fr;
    }

    @include vp-1440 {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      @include vp-768 {
        width: 100% !important;
        margin-right: 0 !important;
      }

      .geography__img {
        width: 100%;
        height: 216px;

        @include vp-768 {
          height: 264px;
        }

        @include vp-1440 {
          height: 219px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        font-family: $ff-syncopate;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: $color-cello;
        text-transform: uppercase;
        padding: 5px 0 0px;
        margin: 15px 0 0;
        border-bottom: 1px solid #dedede;
        height: 74px;
        display: flex;
        align-items: center;

      }
    }
  }
}
