.navigation-language {
  width: 100%;
  background-color: $color-midnight;
  color: $color-default-white;

  .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    position: relative;

    @include vp-768 {
      align-items: center;
      padding: 16px 22px;
    }

    @include vp-1440 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navigation-language__logo-wrapper {
    @include vp-768 {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  button {
    border: none;
    background-color: $color-transparent;
    color: $color-default-white;
    transition-duration: 0.2s;

    svg {
      transition-duration: 0.2s;
      fill: transparent;
      stroke: $color-default-white;
    }

    &.active {
      svg {
        transform: rotate(180deg);
        transition-duration: 0.2s;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: #DFB17D;

      svg {
        stroke: #DFB17D;
      }
    }
  }

  .navigation-language__links {
    display: none;

    @include vp-768 {
      display: flex;
      gap: 30px;
      position: relative;

      a {
        color: $color-default-white;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 60%;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: $color-default-white;
      }
    }
  }

  .navigation-language__wrapper {
    position: relative;
    transition-duration: 0.2s;
  }

  .navigation-language__list {
    background-color: $color-default-white;
    color: $color-midnight;
    // display: none;
    max-height: max-content;
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 26px 0 #00000014;
    position: absolute;
    right: 0;
    top: 90%;
    // transition: max-height 1s ease;
    transition: opacity 0.3s ease-in-out;

    li {
      cursor: pointer;
      opacity: 0;

      &:hover,
      &:focus,
      &:active {
        color: #DFB17D;
      }
    }

    li.active {
      color: $color-twine;
    }
  }

  .navigation-language__list--active {
    padding: 16px;
    display: flex;
    max-height: max-content;
    opacity: 1;
    flex-direction: column;
    gap: 12px;
    transition: opacity 0.5s ease;

    z-index: 6;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    li {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
}
